/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--font-weight-light);
  line-height: normal;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  padding-block-end: 103px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  padding-block-start: 136px;
  padding-block-end: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 700px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(49px, 13vw, 65px);
  text-decoration: none;
}

.header__description {
  font-family: var(--accent-font);
  font-size: 23px;
  line-height: 1em;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-block-start: 5px;
  margin-inline-start: 20px;
}

.theme-menu__item {
  display: flex;
}

.theme-menu__button {
  appearance: none;
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-inline: 0;
  padding-block: 0;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover  {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 0;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
    display: block;
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
    transform-origin: 0%;
}

.theme-menu__button:focus-visible::after {
    width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.card__title {
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  line-height: 1.21em;
  border-block-end: 2px solid var(--accent-color);
  padding-block-start: 4px;
  padding-block-end: 6px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-end: 0;
}

.card__illustration {
  position: relative;
}

.brightness {
  filter: brightness(200%);
} 

.grayscale {
  filter: grayscale(80%);
}

.sepia {
  filter: sepia(80%)
}

.saturate-hue-rotate {
  filter: saturate(80%) hue-rotate(300deg)
} 

.invert {
  filter: invert(1);
}

.blur {
    filter: blur(3.2rem);
} 

.contrast {
  filter: contrast(150%);
} 

.watermark {
  position: absolute;
  z-index: 2;
  inset-block-start: 25px;
  inset-inline-end: clamp(13px, 3.7%, 25px);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--background-color), 
    0 1px var(--background-color), 
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .watermark {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
} 

.image {
  box-sizing: border-box;
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  border-block-start: 2px solid var(--accent-color);
}

.card__description {
  line-height: 1.167em;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  appearance: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -1px;
  transition: outline 0.3s ease;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  color: transparent;
  transition: fill 0.3s 0.03s linear;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in alternate;
  transform-origin: 50% 50%;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.button {
  appearance: none;
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 0%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
  transform-origin: 0;
} 

.button:hover::after {
  inline-size: 100%;
} 

.button:focus {
  outline: none;
} 

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
} 

.card__like-button {
  inline-size: 130px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-button-text-color);
  mix-blend-mode: difference;
}

.save-button {
  padding-inline-start: 17px;
  padding-inline-end: 17px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  align-self: center;
}

.save-button__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--main-button-text-color);
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
  inset: 0;
  background-color: var(--background-color);
  inline-size: clamp(341px, 90vw, 353px);
  padding: 30px;
  border: 1px solid var(--accent-color);
  transition: opacity 3s ease-in-out;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--accent-color);
}

.dialog__picture {
  flex-shrink: 0;
}

.dialog__title {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
  }

  .header__description {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1em;
  }

  .page {
    padding-block-end: 100px;
  }

  .save-button__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .dialog[open] {
    padding-inline-start: 42px;
    padding-inline-end: 42px;
  }
}

